%nav.navbar.navbar-light.bg-faded
  = link_to "Rep of Spaces", root_path, class: "navbar-brand"
  %ul.nav.navbar-nav
  %ul.nav.navbar-nav.pull-xs-right
    %li.nav-item{ class: ("active" if current_page?(new_user_session_path))}
      = link_to "Log in", new_user_session_path, class: 'nav-link'
